extends base.pug

block scripts
    script(src='/static/index.js')

block style 
    style
      include ../static/style.css

block content
    div#aboutContainer
        div.aboutbox
            img(src="/static/img/aboutus.png", alt="")
        div.aboutbox 
            h2 Know About Us 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, delectus culpa aut inventore debitis voluptatem quam? Minima velit esse dolores, consectetur voluptates a incidunt veritatis voluptas perferendis qui sequi nesciunt eaque quisquam aut neque. Itaque nisi at mollitia expedita corrupti exercitationem error praesentium sapiente, omnis laborum possimus incidunt quaerat optio!lorem10 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat excepturi repellendus, blanditiis numquam rem at facilis quod natus reiciendis harum distinctio facere ipsum error deserrnatur deserunt odit unde dignissimos mollitia. Laboriosam eligendi vel impedit harum, quas exercitationem reiciendis officiis tenetur, est, officia corrupti voluptates. Asperiores quibusdam similique quidem voluptatem temporibus eum corrupti eveniet atque laboriosam!olor officia nobis! Voluptatibus nesciunt repudiandae vero. Aliquid ipsam debitis, voluptate officia rem expedita neque explicabo est quod nemo perferendis harum natus cum sint, molestiae aut optio corrupti dolore aspernatur deserunt odit unde dignissimos mollitia. Laboriosam eligendi vel impedit harum, quas exercitationem reiciendis officiis tenetur, est, officia corrupti voluptates. Asperiores quibusdam similique quidem voluptatem temporibus eum corrupti eveniet atque laboriosam!