extends base.pug

block scripts
    script(src ="/static/index.js")

block style 
    style 
         include ../static/style.css

block content 
    section#serviceSection 
        h1 We Teach many Dance Forms
        div.servicebox 
            img(src="/static/img/dance1.avif", alt="")
            div.content
                h4 Train Solo Dancers .
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia laboriosam, ipsa voluptas labore reprehenderit tempora ut fuga consectetur mollitia debitis quo repudiandae quaerat enim magni! Id nesciunt consequatur provident fugiat!Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia laboriosam, ipsa voluptas labore reprehenderit tempora ut fuga consectetur mollitia debitis quo repudiandae quaerat enim magni! Id nesciunt consequatur provident fugiat!
        div.servicebox 
            img(src="/static/img/dance2.avif", alt="")
            div.content
                h4 Learn Hip Hope 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia laboriosam, ipsa voluptas labore reprehenderit tempora ut fuga consectetur mollitia debitis quo repudiandae quaerat enim magni! Id nesciunt consequatur provident fugiat!Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia laboriosam, ipsa voluptas labore reprehenderit tempora ut fuga consectetur mollitia debitis quo repudiandae quaerat enim magni! Id nesciunt consequatur provident fugiat!
        div.servicebox 
            img(src="/static/img/dance3.jpg", alt="")
            div.content
                h4 Learn Traditional Dance.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia laboriosam, ipsa voluptas labore reprehenderit tempora ut fuga consectetur mollitia debitis quo repudiandae quaerat enim magni! Id nesciunt consequatur provident fugiat!Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia laboriosam, ipsa voluptas labore reprehenderit tempora ut fuga consectetur mollitia debitis quo repudiandae quaerat enim magni! Id nesciunt consequatur provident fugiat!
        div.servicebox 
            img(src="/static/img/dance4.jpg", alt="")
            div.content
                h4 Learn Salsa.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia laboriosam, ipsa voluptas labore reprehenderit tempora ut fuga consectetur mollitia debitis quo repudiandae quaerat enim magni! Id nesciunt consequatur provident fugiat!Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia laboriosam, ipsa voluptas labore reprehenderit tempora ut fuga consectetur mollitia debitis quo repudiandae quaerat enim magni! Id nesciunt consequatur provident fugiat!

        